@import url(https://fonts.googleapis.com/css?family=Rubik+Beastly:regular&display=swap&subset=cyrillic-ext);
@import url(https://fonts.googleapis.com/css?family=Cairo:regular,700&display=swap&subset=cyrillic-ext);
@import url(https://fonts.googleapis.com/css?family=Lato:regular,700&display=swap&subset=cyrillic-ext);

@font-face {
	font-family: "Moyenage";
	src: url("../fonts/Moyenage/Moyenage.woff2") format("woff2"), url("../fonts/Moyenage/Moyenage.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Scotch Modern";
	src: url("../fonts/Scotch_Modern/ScotchModern.woff2") format("woff2"),
		url("../fonts/Scotch_Modern/ScotchModern.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Pelagy";
	src: url("../fonts/Pelagy/Pelagy.woff2") format("woff2"), url("../fonts/Pelagy/Pelagy.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html {
	font-size: 16px; /* по умолчанию */
}
body {
	font-family: "Cairo", sans-serif;
	line-height: 1;
	background-color: #b3b3b4;
}
/* ------------------------------ */
/* Шрифты */
._lato {
	font-family: "Lato", serif;
}
._moyenage {
	font-family: "Moyenage", sans-serif;
}
._rubik_beastly {
	font-family: "Rubik Beastly", cursive;
}
._scotch_modern {
	font-family: "Scotch Modern", serif;
}
._pelagy {
	font-family: "Pelagy", sans-serif;
}

/*-----------------------------------*/

p {
	text-indent: 12px;
}
.text_name {
	font-weight: 700;
	font-size: 26px;
	text-align: center;
	color: #664eef;
	text-shadow: 1px -4px 5px #ff861b;
	/*text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px,      #FF2D95 0px 0px 75px;*/
	letter-spacing: 3px;
	font-style: oblique;
}
.third_p span {
	color: green;
	text-decoration: line-through;
	font-weight: 700;
	text-transform: uppercase;
}

.main_navigation {
	text-align: right;
	font-weight: 400;
	font-size: 14px;
	text-decoration: none;
	text-transform: capitalize;
}
.autorization_status {
	font-weight: 700;
	color: rgb(196, 39, 117);
	text-decoration: underline;
	text-shadow: -10px -10px 25px #120085;
}
.glycolysis .first_p {
	color: rgba(216, 44, 21, 0.678);
	letter-spacing: 3px;
}
.glycolysis .second_p {
	text-decoration: underline;
	font-weight: 700;
}

.first_p {
	text-align: justify;
}

.second_p {
	text-align: center;
}

.third_p {
	text-align: right;
	text-transform: uppercase;
}

.list {
	font-family: "Pelagy", sans-serif;
	color: #661100;
	background: #333333;
	text-shadow: 0 -1px 4px #fff, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #f00;
	font-size: 32px;
	text-decoration: overline;
	text-transform: uppercase;
}
.first_ol {
	letter-spacing: 3px;
	word-spacing: 10px;
}
.second_ol {
}
.first_ul {
}
.general_rewiev {
}
.first_li {
}
.second_li {
}
.third_li {
}
.phospho {
}
.energetic {
}

.image_p {
	text-align: center;
}
.other_glycolysis div {
	font-size: 12px;
	letter-spacing: 3px;
	font-weight: 700;
}
.glycogen_starch p {
	font-size: 22px;
	line-height: 150%;
}
.disaccharides {
}
.other_mono {
	text-align: center;
	color: red;
	font-weight: 700;
	word-spacing: 5px;
}
.fructosa {
}
.galactosa {
}
.mannosa {
}
.evolution {
}
.footer_text {
	color: steelblue;
	line-height: 150%;
	font-weight: 700;
	word-spacing: 5px;
	font-style: oblique;
}
.evolution .footer_link {
	text-align: center;
}
.footer_link {
	text-decoration: underline;
	font-family: "Pelagy", sans-serif;
	letter-spacing: 3px;
	text-transform: uppercase;
	text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #49ff18, 0 0 30px #49ff18, 0 0 40px #49ff18,
		0 0 55px #49ff18, 0 0 75px #49ff18;
	color: #ffffff;
}
